@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
    border-radius: 9999px;
}
.scrollbar-custom::-webkit-scrollbar-corner {
    background: transparent;
}

.progress-bar::-webkit-slider-thumb {
    opacity: 0;
    transition: opacity 0.15s ease;
}
.progress-bar:hover::-webkit-slider-thumb,
.progress-bar:active::-webkit-slider-thumb {
    opacity: 1;
}
